@use '../utils/' as *;

.gallery-main-content{
    @include flexContainer(column);
    align-items: center;
    width: 100%;
    min-height: 90vh;
    position: relative;

    .gallery-bg{
        @include parallaxBg;
        background-image: url(../images/background-anim.svg);
    }

.gallery-header{
    width: 100%;
    background: black;
    color: white;
    padding: 1rem;
    .gallery-heading {
        font-size: 1.3rem;
        font-family: $heading-font;
        text-align: left;
        margin-left: 1rem;
        @include sm {
          font-size: 4rem;
        }
        @include xl {
          font-size: 6rem;
        }
        &::before {
            content: '';
            display: block;
            width: 50%;
            padding-top: 0.5rem;
            border-top: 3px solid white;
            @include sm {
                border-top: 5px solid white;
              }
              @include xl {
                width: 25%;
                border-top: 10px solid white;
              }
        }
      }

      .gallery-subheading {
        text-align: left;
        font-size: 0.9rem;
        margin-left: 1rem;
        @include sm {
            font-size: 2rem;
          }
          @include xl {
            font-size: 3rem;
          }
        &::after {
            content: '';
            display: block;
            width: 75%;
            padding-bottom: 0.5rem;
            border-bottom: 3px solid white;
            @include sm {
                border-bottom: 5px solid white;
              }
              @include xl {
                width: 50%;
                border-bottom: 10px solid white;
              }
        }
      }
}

    
    .gallery-container {
        @include flexContainer(row);
        flex-wrap: wrap;
        .gallery-item-container{
            @include flexContainer(column);
                align-items: center;
                justify-content: space-around;
                width: 14rem;
                max-height: 20rem;
                border: 0.3rem solid rgba(161, 161, 161, 0.6);
                border-radius: 5px;
                background-color: rgb(236, 236, 236);
                padding: 1rem;
                margin: 2rem auto;
                @include lg {
                    width: 28%;
                }
            .gallery-item-img-container{
                width: 95%;
                overflow: hidden;
                cursor: pointer;
                .gallery-item-img {
                    width:100%;
                    
                }
            }
            .gallery-item-description{
                margin: 1rem auto;
                width: 95%;
            }
        }
    }
}