
/*
Colors
*/
$primary-clr: rgb(33, 33, 33);
$primary-text-clr: white;
$accent-clr: silver;
$other-clr: hsl(0, 0%, 20%);

/*
Fonts
*/
$primary-font: 'Roboto-Regular', Tahoma;
$heading-font: 'RobotoSlab-Black', Georgia;
$emphasis-font: 'Roboto-Black', Arial;


/*
Font weights
*/